//IO_LOC "RSTN" U4;
//IO_PORT "RSTN" IO_TYPE=LVCMOS15 PULL_MODE=NONE BANK_VCCIO=3.3;
//IO_LOC "CLK50M" R4;
//IO_PORT "CLK50M" IO_TYPE=LVCMOS15 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "CLK50M" P16;
IO_LOC "rst" U4;


IO_PORT "CLK50M" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "rst" PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;


IO_LOC "led0" R26;
IO_PORT "led0" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# uart1 below
IO_LOC "uart1_tx_o" U16;
IO_LOC "uart1_rx_i" V16;
IO_PORT "uart1_tx_o" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "uart1_rx_i" PULL_MODE=UP BANK_VCCIO=3.3;
# uart1 above
//JTAG

IO_LOC "LJTAG_TRST" P21;
IO_PORT "LJTAG_TRST" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LJTAG_TMS" W21;
IO_PORT "LJTAG_TMS" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LJTAG_TDO" U14;
IO_PORT "LJTAG_TDO" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LJTAG_TDI" P23;
IO_PORT "LJTAG_TDI" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LJTAG_TCK" Y21;
IO_PORT "LJTAG_TCK" PULL_MODE=NONE BANK_VCCIO=3.3;

/*
IO_LOC "pps_led" U22;
IO_PORT "pps_led" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;



IO_LOC "GPIO01" G22;
IO_PORT "GPIO01" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIO13" E16;
IO_LOC "GPIO18" E19;
IO_LOC "GPIO19" D16;
IO_LOC "GPIO20" D19;
IO_LOC "GPIO34" D17;
IO_LOC "GPIO35" M15;
IO_LOC "GPIO36" C17;
IO_LOC "GPIO37" M16;
IO_LOC "GPIO38" F15;
IO_LOC "GPIO39" F20;
IO_LOC "GPIO40" F18;



IO_PORT "GPIO13" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIO18" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIO19" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIO20" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIO34" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIO35" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIO36" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIO37" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIO38" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIO39" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "GPIO40" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# pwm below
IO_LOC "PWM01" E18;
IO_PORT "PWM01" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# pwm above



# i2c below
IO_LOC "I2C_SCL" W20;
IO_LOC "I2C_SDA" W19;
IO_PORT "I2C_SCL" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "I2C_SDA" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
# i2c above

# spi below
IO_LOC "SPI_CLK " Y21 ;
IO_LOC "SPI_MISO" AB22;
IO_LOC "SPI_MOSI" Y19 ;
IO_LOC "SPI_CSN1" Y22 ;
IO_LOC "SPI_CSN2" E13 ;
IO_LOC "SPI_CSN3" E22 ;
IO_PORT "SPI_CLK " PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "SPI_MISO" PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "SPI_MOSI" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "SPI_CSN1" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "SPI_CSN2" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "SPI_CSN3" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# spi above
*/



